*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* untuk apply font plus jakarta sans memakai
font-family: 'Plus Jakarta Sans', sans-serif; */
body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: white;
    position: relative;
    background-image: url("images/road sunset.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container{
    /* posisi container relatif terhadap body */
    width: 100%;
    /* height: 100vh; */
    position: relative;
}

.navbar {
    /* Atur posisi navbar relatif terhadap container */
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }

.navbar ul{
  margin: 8px;
  padding: 0;
  overflow: hidden;
}

.navbar li{
  float: right;
  list-style: none;
}
.navbar li a{
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
.navbar li a:hover{
  background-color: #fffdfd79;
}

.quotes {
  color: white;
  max-width: 400px; /* Sesuaikan lebar maksimum sesuai kebutuhan */
  margin: 0 auto; /* Pusatkan secara horizontal */
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vertical-text-container {
    /* posisi vertical-text relatif terhadap container */
    position: absolute;
    top: 0;
    right: 10px;
    height: 100vh;
    width: 50px; /* Sesuaikan lebar sesuai kebutuhan */
    display: flex;
    align-items: center;
  }
  
  .vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    text-align: center;
    text-decoration: none;
    font-size: 18px; /* Sesuaikan ukuran font sesuai kebutuhan */
    font-weight: bold; /* Sesuaikan gaya font sesuai kebutuhan */
    color: rgb(255, 255, 255); /* Sesuaikan warna teks sesuai kebutuhan */
    padding: 10px;
    opacity: 0.5;
  }

.bottomleft {
    /* posisi waktu tanggal dan hari */
    color: white;
    position: absolute;
    bottom: 50px;
    left: 35px;
  }
  .bottomleft h1 {
    font-size: 45px;
  }
  .bottomleft h5 {
    font-size: 30px;
  }
  .bottomleft h6 {
    font-size: 30px;
  }

  .container2 {
    display: flex;
    justify-content: center; /* Pusatkan secara horizontal */
    align-items: center; /* Pusatkan secara vertikal */
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: black;
  }
  