*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* untuk apply font plus jakarta sans memakai
font-family: 'Plus Jakarta Sans', sans-serif; */
body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: white;
    
}
.container{
    /* posisi container relatif terhadap body */
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("../images/street.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/street.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.navbar {
    /* Atur posisi navbar relatif terhadap container */
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }

.navbar ul{
  margin: 8px;
  padding: 0;
  overflow: hidden;
}

.navbar li{
  float: right;
  list-style: none;
}
.navbar li a{
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
.navbar li a:hover{
  background-color: #fffdfd79;
}

.vertical-text-container {
    /* posisi vertical-text relatif terhadap container */
    position: absolute;
    top: 0;
    right: 10px;
    height: 100vh;
    width: 50px; /* Sesuaikan lebar sesuai kebutuhan */
    display: flex;
    align-items: center;
  }
  
  .vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    text-align: center;
    text-decoration: none;
    font-size: 18px; /* Sesuaikan ukuran font sesuai kebutuhan */
    font-weight: bold; /* Sesuaikan gaya font sesuai kebutuhan */
    color: rgb(255, 255, 255); /* Sesuaikan warna teks sesuai kebutuhan */
    padding: 10px;
    opacity: 0.5;
  }

  .row {
margin: auto;
  }
/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 35%;
}

.column.side img {
  display: block;
  width: 305px; /* ubah ukuran lebar gambar menjadi 200 piksel */
  height: auto; /* biarkan ketinggian gambar mengikuti aspek rasio aslinya */
  margin-left: auto;
  margin-right: auto;
}
/* Middle column */
.column.middle {
  width: 50%;
  align-items: center;
  text-align: justify;
  font-size: 20px;
}

.icons {
  padding-top: 30px;
  flex-direction: column;
  align-items: center;
}
.icons a{
  text-decoration: none;
}
.icons i {
  padding-right: 20px;
  font-size: 40px; /* Sesuaikan ukuran ikon sesuai kebutuhan */
  color: rgb(255, 255, 255);
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  body {
    animation: fadeIn 0.2s ease-in;
    -webkit-animation: fadeIn 0.2s ease-in;
}
  